@using ConnectCMS.Resources
<div class="alert-popup">
	<p>@ConnectCMSResources.EditRecurrenceBody</p>
	@*<p>@Model.Body</p>*@
	<div class="flexContainer">
		<div class="flexSpacer"></div>
		<a class="linkButton marginRight white" data-bind="click: OnEditOccurence">@ConnectCMSResources.EditRecurrenceOccurrence</a>
		<a class="linkButton marginLeft" data-bind="click: OnEditSeries">@ConnectCMSResources.EditRecurrenceSeries</a>
	</div>
</div>