@using ConnectCMS.Resources

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(new ResearchViewModel(), $('#bindingDiv')[0]);
    });
</script>

<div>
</div>