@using ConnectCMS.Resources
<div>
	<div class="bottomBorder flexContainer paddingBottom">
		<h1 class="flexSpacer marginRight">@ConnectCMSResources.ReorderImages</h1>
		<a class="linkButton marginLeft white" data-bind="click: ClickBack">@ConnectCMSResources.Back</a>
	</div>
</div>