@using ConnectCMS.Resources
<div class="introStep-content" id="intro-step2">
    <div class="introStep-left">
    </div>

    <div class="introStep-right">
        <div>
            <h1>@ConnectCMSResources.ConnectCMS</h1>
            <p>@ConnectCMSResources.ConnectCMSIntro</p>
            <a>@ConnectCMSResources.ConnectCMSVideo</a>
        </div>
    </div>
</div>