@using ConnectCMS.Resources
<div class="introStep-content" id="intro-step5">
    <div class="introStep-left">
    </div>

    <div class="introStep-right">
        <div>
            <h1>@ConnectCMSResources.ConnectLobby</h1>
            <p>@ConnectCMSResources.ConnectLobbyIntro</p>
            <a>@ConnectCMSResources.ConnectLobbyVideo</a>
        </div>
    </div>
</div>