@using ConnectCMS.Resources
<div class="introStep-content" id="intro-step4">
    <div class="introStep-left">
    </div>

    <div class="introStep-right">
        <div>
            <h1>@ConnectCMSResources.ConnectStaff</h1>
            <p>@ConnectCMSResources.ConnectStaffIntro</p>
            <a>@ConnectCMSResources.ConnectStaffVideo</a>
        </div>
    </div>
</div>