@using ConnectCMS.Resources
<div class="introStep-content" id="intro-step3">
    <div class="introStep-left">
    </div>

    <div class="introStep-right">
        <div>
            <h1>@ConnectCMSResources.ConnectMobile</h1>
            <p>@ConnectCMSResources.ConnectMobileIntro</p>
            <a>@ConnectCMSResources.ConnectMobileVideo</a>
        </div>
    </div>
</div>