<div class="noData bottomBorder" data-bind="visible: Visible">
	<span class="header" data-bind="text: Header"></span>
	<div class="subHeader" data-bind="visible: !ConnectCMS.Strings.IsNullOrWhitespace(SubHeader)">
		<span class="subHeader" data-bind="text: SubHeader"></span>
	</div>
</div>