<div class="tabHeaderContainer" data-bind="foreach: $data">
	<a class="tabHeader" data-bind="text: Label, click: Click, css: IsSelected() ? 'selected' : (Enabled() ? '' : 'disabled'), visible: Visible"></a>
</div>