@using ConnectCMS.Resources
<div class="alert-popup" style="max-width: 750px;">
	<div style="margin-top: 0">
		<p style="text-align: left">@ConnectCMSResources.AboutConnectCMSText1</p>
	</div>
	<div style="margin-top: 0">
		<p style="text-align: left">@ConnectCMSResources.AboutConnectCMSText2 <a class="link" style="padding-left: 0;" href="mailto:support@monscierge.com">@ConnectCMSResources.AboutConnectCMSHyperlinkText</a></p>
	</div>
	<div>
		<a class="link" style="font-size: 18px;" data-bind="click: Close">@ConnectCMSResources.Close</a>
	</div>
</div>