<div class="alert-popup">
	<span data-bind="text: Header"></span>
	<p data-bind="text: Body"></p>

	<a class="linkButton white" data-bind="click: Close, text: Button, visible: Button != null"></a>
</div>