@using ConnectCMS.Resources
<div class="cover-popup" style="width: 600px;">
	<div class="flexContainer">
		<div class="keyImage flexSelfCenter"></div>
	</div>
	<div>
		<span class="header">
			@ConnectCMSResources.AlreadySignedInHeader
		</span>
	</div>
	<div>
		<p class="details">
			@ConnectCMSResources.AlreadySignedInDetails1
		</p>
		<p class="details">
			@ConnectCMSResources.AlreadySignedInDetails2
		</p>
	</div>
</div>