<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cohapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cohapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>COHAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$COHAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="COHEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cllearworks.database.windows.net,1433;Initial Catalog=Cllearworks_OfficeHours_DB;User ID=null@cllearworks.database.windows.net;Password=y4WyDc4RF!av" Name="Data Source=tcp:cllearworks.database.windows.net,1433;Initial Catalog=Cllearworks_OfficeHours_DB;User Id=null@cllearworks.database.windows.net;Password=y4WyDc4RF!av" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cllearworks.COH.Repository.COHEntities, Cllearworks.COH.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)COHEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/COHDataModels.csdl|res://*/COHDataModels.ssdl|res://*/COHDataModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:cllearworks.database.windows.net,1433;Initial Catalog=Cllearworks_OfficeHours_DB;User Id=null@cllearworks.database.windows.net;Password=y4WyDc4RF!av"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>