@using ConnectCMS.Resources
<div class="listItemContainer paddingTop">
	<div class="block flexSpacer paddingRight">
		<div class="block marginBlock">
			<img class="listItemLabelImage center marginRight" src="Content/monscierge/images/user.png" />
			<span class="listItemHeader" data-bind="text: ContactUser().PublicName()"></span>
		</div>
		<div class="block" data-bind="css: EnterpriseLocationViewModel != null ? 'marginBlock': ''">
			<img class="listItemLabelImage center marginRight" src="Content/monscierge/images/calendar.png" />
			<span class="listItemLabel gray">@ConnectCMSResources.LastUpdated</span>
			<span class="listItemLabel gray" data-bind="text: LocalLastModified"></span>
		</div>
		<span class="listItemLabel block gray" data-bind="text: FormattedLocationAddress, visibile: EnterpriseLocationViewModel != null"></span>
	</div>
	<div class="flexSpacer paddingLeft paddingRight three">
		<span class="listItemLabel black" data-bind="text: FormattedTip, visible: !Edit()"></span>
		<textarea class="width100Percent" data-bind="value: Tip, visible: Edit, valueUpdate: 'input'"></textarea>
	</div>
	<div class="tipButtonContainer paddingLeft">
		<div data-bind="listButton: ListButtonViewModel, visible: !Edit()"></div>
		<div data-bind="visible: Edit">
			<a class="linkButton block marginBottom white" data-bind="click: ClickCancel">@ConnectCMSResources.Cancel</a>
			<a class="linkButton width100Percent" data-bind="click: ClickUpdate">@ConnectCMSResources.Save</a>
		</div>
	</div>
</div>